blockquote {
  margin: 0 0 1.5em;
  padding: 0 1.5em;
  border-left: #ccc 3px solid;
}

blockquote p {
  margin: 0 0 1em 0;
  color: inherit;
  font-size: 1.5em;
  line-height: inherit;
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}
